<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0,
        initial-scale=1.0" />
        <title>Flash Maker</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/jquery.combinedScroll.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css"/>
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript">
            jQuery(document).ready(function($) {
              $('.nav-bar').onePageNav();
        });
        </script>
    </head>
    <body>
        <div id="page">
            <header>
                <h1><a href="/">Flash Maker</a></h1>
            </header>
            <div id="content">
                <section id="welcome">
                    <h1>Welcome</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. <a href="#">Duis aute irure</a>
                        dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum.</p>
                </section>
                <section id="about" class="white-back">
                    <h1>About</h1>
                    <p>Flash Maker began as a project for HackPrinceton 2015. As my
                        first web application and first golang project, Flash Maker
                        was meant to be an educational experience. It
                        was so much fun to make that I continued it long after the
                        hackathon. To give feedback and contribute to the project,
                        please check out <a href="https://github.com/Yunski">
                        <b>my github repository</b></a>.</p>
                </section>
                <section id="contact">
                    <h1>Contact</h1>
                    <div id="social-section">
                        <div id="social-links" >
                            <a href="https://www.facebook.com/yun.teng.54">
                                <img src="/icon/icomoon/SVG/facebook.svg" />
                            </a>
                            <a href="">
                                <img src="/icon/icomoon/SVG/mail.svg" />
                            </a>
                            <a href="https://www.linkedin.com/in/yun-teng-690935105">
                                <img src="/icon/icomoon/SVG/linkedin.svg" />
                            </a>
                        </div>
                    </div>
                </section>
                <section id="acknowledge" class="white-back">
                    <h1>Acknowledgements</h1>
                    <p>Special thanks to Todd McLeod for his
                        <a href="https://www.youtube.com/user/toddmcleod">
                        web development tutorials</a> and Gregory Schier for his
                        <a href="http://schier.co/blog/2015/04/26/a-simple-web-scraper-in-go.html">
                        go concurrency example</a>. The definitions used for the
                        autogenerated quizlet sets are from
                        <a href="http://dictionary.reference.com/">Dictionary.com</a>.</p>
                </section>
                <nav class="nav-bar">
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#acknowledge">Acknowledgements</a></li>
                </nav>
            </div>
            <div id="login-home">
                <form action={{if .LoggedIn}} "/logout" {{else}} "/login/form" {{end}}
                    method="get" >
                    <input type="submit" value=
                        {{if .LoggedIn}} "Logout" {{else}} "Login" {{end}}>
                    </input>
                </form>
            </div>
            <nav class="nav-site">
                <li><a href="/create">Create</a></li>
                <li><a href="">Help</a></li>
            </nav>
            <footer>
                <div id = "quizlet-link">
                    <a href="https://quizlet.com/"><b>Powered by Quizlet.com</b></a>
                </div>
            </footer>
        </div>
    </body>
</html>
